.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 7.5em;
}

.App-header {
  background-color: #222;
  padding: 10em;
  color: white;
}

.App-header__divider {
  width: 5em;
}

.App-header__latest-release {
  border: 1px solid orange;
  padding: 1em;
  color: orange;
}