header {
  background: #C33764;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.app__logo {
  height: 100px;
}

.key-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.key-feature {
  max-width: 25em;
}

.izi-uppercase {
  text-transform: uppercase;
}