body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
    margin: 0;
}

svg {
  fill: currentColor;
}

.font-icon {
  vertical-align: middle;
}

.font-icon svg {
  height: 1em;
}

.izi-block {
  display: block;
}

.margin-left-if-not-first:not(:first-child) {
  margin-left: 1em;
}

.izi-multiline {
  word-wrap: break-word;
}

.izi-pointer {
  cursor: pointer;
}